<h1 class="text-center">Intresseanmälda tlll kodstugor</h1>
<form method="POST" action="/api/invite" @submit="check_send">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Kodstuga</th>
            <th scope="col">Förnamn</th>
            <th scope="col">Efternamn</th>
            <th scope="col">Kön</th>
            <th scope="col">Skola</th>
            <th scope="col">Klass</th>
            <th scope="col">Målsman</th>
            <th scope="col">Ansökte</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="kid in kids">
            <td>{{kid.kodstuga}}</td>
            <td>{{kid.deltagare_efternamn}}</td>
            <td>{{kid.deltagare_fornamn}}</td>
            <td>{{kid.deltagare_kon}}</td>
            <td>{{kid.deltagare_skola}}</td>
            <td>{{kid.deltagare_klass}}</td>
            <td>{{kid.kontaktperson_id.length}}</td>
            <td>{{new Date(kid.deltagare_datum*1000).toISOString().split('T')[0]}}</td>
            <td>
                <label v-if="kid.deltagare_status=='ansökt'">
                    <input name="invite" v-bind:value="kid.deltagare_id" type="checkbox">Bjud in
                </label>
                <label v-else="">
                    {{kid.deltagare_status}}
                </label>
            </td>
        </tr>
    </tbody>
</table>
<button type="submit" class="btn btn-primary">Skicka inbjudan</button>
</form>