<h1 class="text-center">Deltagare</h1>
<form method="POST" action="/api/invite" @submit="check_send" v-if="edit==''">
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Kodstuga</th>
            <th scope="col">Förnamn</th>
            <th scope="col">Efternamn</th>
            <th scope="col">Kön</th>
            <th scope="col">Skola</th>
            <th scope="col">Klass</th>
            <th scope="col">Målsman</th>
            <th scope="col">Ansökte</th>
            <th scope="col">Status</th>
            <th scope="col">Redigera</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="kid in deltagare">
            <td>{{kodstuga_name_by_id(kid.kodstuga_id)}}</td>
            <td>{{kid.fornamn}}</td>
            <td>{{kid.efternamn}}</td>
            <td>{{kid.kon}}</td>
            <td>{{kid.skola}}</td>
            <td>{{kid.klass}}</td>
            <td>{{kid.kontaktperson_id.length}}</td>
            <td>{{new Date(kid.datum*1000).toISOString().split('T')[0]}}</td>
            <td>
                <label v-if="kid.status=='ansökt'">
                    <input name="invite" v-bind:value="kid.deltagare_id" type="checkbox">Bjud in
                </label>
                <label v-else="">
                    {{kid.status}}
                </label>
            </td>
            <td><button type="button" class="btn btn-outline-secondary"
            v-on:click="edit={'type':'deltagare','data':copy(kid)}">🖊</button>
            </td>
        </tr>
    </tbody>
</table>
<button type="submit" class="btn btn-primary">Skicka inbjudan</button>
</form>
<div v-if="edit.type=='deltagare'" class="card">
    <div class="card-body">
        <form method="post" @submit="check_send" action="/api/deltagare">
            <input name="id" v-if="edit.data.id!==''" v-bind:value="edit.data.deltagare_id" type="hidden">
            <div class="form-group">
                <label>Kodstuga</label>
                <select name="kodstuga" v-bind:value="edit.data.kodstuga_id" class="form-control">
                    <option v-for="kodstuga in kodstugor" v-bind:value="kodstuga.id">{{kodstuga.namn}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Förnamn</label>
                <input
                    name="fornamn"
                    v-bind:value="edit.data.fornamn"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Efternamn</label>
                <input
                    name="efternamn"
                    v-bind:value="edit.data.efternamn"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Kön</label>
                <select name="kon" v-bind:value="edit.data.kon" class="form-control">
                    <option value="han">Han</option>
                    <option value="hon">Hon</option>
                    <option value="hen">Hen</option>
                </select>
            </div>
            <div class="form-group">
                <label>Skola</label>
                <input
                    name="skola"
                    v-bind:value="edit.data.skola"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Klass</label>
                <select name="klass" v-bind:value="edit.data.klass" class="form-control">
                    <option value="åk 4">åk 4</option>
                    <option value="åk 5">åk 5</option>
                    <option value="åk 6">åk 6</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select name="status" v-bind:value="edit.data.status" class="form-control">
                    <option value="ja">Ja</option>
                    <option value="nej">Nej</option>
                    <option value="ansökt">Ansökt</option>
                    <option value="inbjudan">Inbjudan skickas</option>
                    <option value="inbjuden">Inbjudan skickad</option>
                    <option value="avhopp">Avhopp</option>
                    <option value="ko">Kö till nästa termin</option>
                </select>
            </div>
            <div class="form-group">
                <button v-if="edit.data.id==''" type="submit" class="btn btn-primary">Skapa ny</button>
                <button v-else="" type="submit" class="btn btn-primary">Spara</button>
                <button v-on:click="edit=''" type="button" class="btn btn-secondary">Avbryt</button>
            </div>
        </form>
    </div>
</div>


