<h1 class="text-center">Kodstugor</h1>
<table class="table table-sm" v-if="edit==''">
  <thead>
    <tr>
      <th scope="col">Namn</th>
      <th scope="col">Typ av Kodstuga</th>
      <th scope="col">Anmälan öppen</th>
      <th scope="col">Redigera</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="kodstuga in kodstugor">
        <td>{{kodstuga.namn}}</td>
        <td>{{kodstuga.typ}}</td>
        <td>{{kodstuga.open}}</td>
        <td><button class="btn btn-sm btn-outline-secondary"
            v-on:click="edit={'type':'kodstuga','data':copy(kodstuga)}">🖊</button>
        </td>
    </tr>
  </tbody>
</table>
<button 
    class="btn btn-primary"
    v-if="edit==''"
    v-on:click="edit={'type':'kodstuga','data':{'id':'','namn':'','sms_text':'','epost_rubrik':'','epost_text':'','epost_rubrik_ja':'','epost_text_ja':''}}"
    >
    Skapa ny
</button>
<div v-if="edit.type=='kodstuga'" class="card">
    <div class="card-body">
        <form method="post" @submit="check_send" action="/api/kodstugor">
            <input name="id" v-if="edit.data.id!==''"v-bind:value="edit.data.id" type="hidden">
            <div class="form-group">
                <label>Namn på kodstuga</label>
                <input
                    name="namn"
                    v-model:value="edit.data.namn"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <hr>
            <input type="hidden" v-bind:value="edit.data.sms_text" name="sms_text">
            <input type="hidden" v-bind:value="edit.data.epost_text" name="epost_text">
            <input type="hidden" v-bind:value="edit.data.epost_rubrik" name="epost_rubrik">
            <input type="hidden" v-bind:value="edit.data.epost_text_ja" name="epost_text_ja">
            <input type="hidden" v-bind:value="edit.data.epost_rubrik_ja" name="epost_rubrik_ja">
            <div class="form-group">
                <label>Ansökan öppen</label>
                <select name="open" v-model:value="edit.data.open" class="form-control">
                    <option value="Ja">Ja</option>
                    <option value="Nej">Nej</option>
                </select>
            </div>
            <hr>
            <div class="form-group">
                <label>Typ</label>
                <select name="typ" v-model:value="edit.data.typ" class="form-control">
                    <option value="Kodstuga">Kodstuga</option>
                    <option value="Lärarkodstuga">Lärarkodstuga</option>
                    <option value="Digital Labs">Digital Labs</option>
                </select>
            </div>
            <hr>
            <div class="form-group">
                <button v-if="edit.data.id==''" type="submit" class="btn btn-primary">Spara som ny</button>
                <button v-else="" type="submit" class="btn btn-primary">Spara</button>
                <button v-if="is_old_kodstuga(edit.data.id) || (edit.data.id!=='' && deltagare.filter(kid => kid.kodstuga_id == edit.data.id).length == 0  && volontärer.filter(vol => vol.kodstugor_id == edit.data.id).length == 0)" v-on:click="radera_kodstuga(edit.data.id)" type="button" class="btn btn-danger">Radera</button>
                <button v-on:click="edit=''" type="button" class="btn btn-secondary">Avbryt</button>
                <button v-on:click="edit.data.id=''" v-if="edit.data.id!==''" type="button" class="btn btn-secondary">Skapa en ny kodstuga med denna som mall</button>
            </div>
        </form>
    </div>
</div>