<h1 class="text-center">Kontaktpersoner</h1>
<table class="table table-sm" v-if="edit==''">
    <thead>
        <tr>
            <th scope="col">Kodstuga</th>
            <th scope="col">Förnamn</th>
            <th scope="col">Efternamn</th>
            <th scope="col">E-Post</th>
            <th scope="col">Telefon</th>
            <th scope="col">Barn</th>
            <th scope="col">Redigera</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="kontaktperson in kontaktpersoner">
            <td>{{kodstuga_name_by_id(kontaktperson.kodstugor_id)}}</td>
            <td>{{kontaktperson.fornamn}}</td>
            <td>{{kontaktperson.efternamn}}</td>
            <td>{{kontaktperson.epost}}</td>
            <td>{{kontaktperson.telefon}}</td>
            <td>{{kontaktperson.deltagare_id.length}}</td>
            <td><button type="button" class="btn btn-outline-secondary"
            v-on:click="edit={'type':'kontaktperson','data':copy(kontaktperson)}">🖊</button></td>
        </tr>
    </tbody>
</table>
<div v-if="edit.type=='kontaktperson'" class="card">
    <div class="card-body">
        <form method="post" @submit="check_send" action="/api/kontaktpersoner">
            <input name="id" v-if="edit.data.id!==''" v-bind:value="edit.data.id" type="hidden">
            <div class="form-group">
                <label>Förnamn</label>
                <input
                    name="fornamn"
                    v-bind:value="edit.data.fornamn"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Efternamn</label>
                <input
                    name="efternamn"
                    v-bind:value="edit.data.efternamn"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>E-Post</label>
                <input
                    name="epost"
                    v-bind:value="edit.data.epost"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input
                    name="telefon"
                    v-bind:value="edit.data.telefon"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <button v-if="edit.data.id==''" type="submit" class="btn btn-primary">Skapa ny</button>
                <button v-else="" type="submit" class="btn btn-primary">Spara</button>
                <button v-on:click="edit=''" type="button" class="btn btn-secondary">Avbryt</button>
            </div>
        </form>
    </div>
</div>
