<h1 class="text-center">Kontaktlista målsman</h1>
<table class="table table-sm" v-if="edit==''">
    <thead>
        <tr>
            <th>Nr</th>
            <th scope="col" v-if="me.admin">
                <select v-model:value="val_kodstuga" class="form-control">
                    <option value="alla">Visa alla kodstugor</option>
                    <option v-for="kodstuga in kodstugor" v-bind:value="kodstuga.id">{{kodstuga.namn}}</option>
                </select>
            </th>
            <th scope="col">Förnamn</th>
            <th scope="col">Efternamn</th>
            <th scope="col">E-Post</th>
            <th scope="col">Telefon</th>
            <th scope="col">Barn</th>
            <th scope="col" v-if="me.admin">Redigera</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(kontaktperson, nr) in valda_kontaktpersoner">
            <td>{{nr + 1}}</td>
            <td v-if="me.admin">{{kodstuga_name_by_id(kontaktperson.kodstugor_id)}}</td>
            <td>{{kontaktperson.fornamn}}</td>
            <td>{{kontaktperson.efternamn}}</td>
            <td>{{kontaktperson.epost}}</td>
            <td>{{kontaktperson.telefon}}</td>
            <td>
                <div v-for="deltagare_id in kontaktperson.deltagare_id">{{deltagare_by_id(deltagare_id).fornamn}} {{deltagare_by_id(deltagare_id).efternamn}}</div>
            </td>
            <td><button type="button" class="btn btn-sm btn-outline-secondary"
            v-on:click="edit={'type':'kontaktperson','data':copy(kontaktperson)}">🖊</button></td>
        </tr>
    </tbody>
</table>
<div v-if="edit.type=='kontaktperson'" class="card">
    <div class="card-body">
        <form method="post" @submit="check_send" action="/api/kontaktpersoner">
            <input name="id" v-if="edit.data.id!==''" v-bind:value="edit.data.id" type="hidden">
            <div class="form-group">
                <label>Förnamn</label>
                <input
                    name="fornamn"
                    v-model:value="edit.data.fornamn"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Efternamn</label>
                <input
                    name="efternamn"
                    v-model:value="edit.data.efternamn"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>E-Post</label>
                <input
                    name="epost"
                    v-model:value="edit.data.epost"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input
                    name="telefon"
                    v-model:value="edit.data.telefon"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <button v-if="edit.data.id==''" type="submit" class="btn btn-primary">Skapa ny</button>
                <button v-else="" type="submit" class="btn btn-primary">Spara</button>
                <button v-on:click="edit=''" type="button" class="btn btn-secondary">Avbryt</button>
            </div>
        </form>
    </div>
</div>
