<h1 class="text-center">Närvaro</h1>
<table class="table table-sm" v-for="kodstuga in kodstugor">
  <thead>
    <tr>
      <th scope="col">{{kodstuga.namn}}</th>
      <th v-for="date in get_dates(kodstuga.id)">{{date.datum}}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="kid in kids" v-if="kid.kodstuga_id == kodstuga.id">
        <td>{{kid.fornamn}} {{kid.efternamn}}</td>
        <td v-for="date in get_dates(kodstuga.id)">
            <div v-if="date.typ=='lov'">Lov</div>
            <div v-else="">
                <input type="text" value="" v-on:change="update_value()" class="form-control">
            </div>
        </td>
    </tr>
  </tbody>
</table>