<h1 class="text-center">Närvaro barn</h1>
<form method="post" @submit="check_send" action="/api/narvaro" v-for="kodstuga in kodstugor">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">{{kodstuga.namn}}</th>
          <th v-for="date in get_dates(kodstuga.id)">{{date.datum}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="kid in deltagare" v-if="kid.kodstuga_id == kodstuga.id && kid.status == 'ja'">
            <td>{{kid.fornamn}} {{kid.efternamn}}</td>
            <td v-for="date in get_dates(kodstuga.id)">
                <div v-if="date.typ=='lov'">Lov</div>
                <div v-else-if="närvaro_redigerade[kid.deltagare_id+date.datum]">
                    <input
                        type="hidden"
                        name="id"
                        v-bind:value="närvaro_redigerade[kid.deltagare_id+date.datum]['id']">
                    <input type="hidden" name="datum" v-bind:value="date.datum">
                    <input type="hidden" name="deltagare_id" v-bind:value="kid.deltagare_id">
                    <div class="input-group">
                        <select
                            name="status"
                            v-model:value="närvaro_redigerade[kid.deltagare_id+date.datum]['status']"
                            class="custom-select">
                            <option value="">---</option>
                            <option value="ja">Ja</option>
                            <option value="nej">Nej</option>
                        </select>
                        <div class="input-group-append">
                            <button v-on:click="$set(närvaro_redigerade, kid.deltagare_id+date.datum, false)" class="btn btn-secondary">&times;</button>
                        </div>
                    </div>
                </div>
                <div v-else=""> 
                    <button v-bind:class="button_color_närvaro(kid.deltagare_id, date.datum)" type="button" class="btn btn-sm btn-block" v-on:click="$set(närvaro_redigerade, kid.deltagare_id+date.datum, copy(get_data_for_deltagare_at_date(kid.deltagare_id, date.datum)))">
                        {{ get_data_for_deltagare_at_date(kid.deltagare_id, date.datum)['status'] }}&nbsp;
                    </button>
                </div>
            </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary">Spara</button>
    <hr>
</form>