<h1 class="text-center">Utskick målsman</h1>
<table class="table table-sm" v-if="edit==''">
  <thead>
    <tr>
      <th scope="col" v-if="me.admin">Kodstuga</th>
      <th scope="col">Typ</th>
      <th scope="col">Ämne (Bara för E-Post)</th>
      <th scope="col">Text</th>
      <th scope="col">Datum</th>
      <th scope="col">Status</th>
      <th scope="col">Redigera</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="skick in utskick">
        <td v-if="me.admin">{{kodstuga_name_by_id(skick.kodstugor_id)}}</td>
        <td>{{skick.typ}}</td>
        <td>{{skick.rubrik}}</td>
        <td v-if="skick.typ=='e-post'" v-html="markdown_to_html.makeHtml(skick.text)"></td>
        <td v-else=""><pre>{{skick.text}}</pre></td>
        <td>{{skick.datum}}</td>
        <td>{{skick.status}}</td>
        <td><button class="btn outline-btn-primary"
            v-on:click="edit={'type':'utskick','data':copy(skick)}">🖊</button>
        </td>
    </tr>
  </tbody>
</table>
<button 
    class="btn btn-primary"
    v-if="edit==''"
    v-on:click="edit={'type':'utskick','data':{'id':'','datum':'','typ':'e-post','rubrik':'','text':'','kodstugor_id':''}}"
    >
    Skapa ny
</button>
<div v-if="edit.type=='utskick'" class="card">
    <div class="card-body">
        <form method="post" @submit="check_send" action="/api/utskick">
            <input name="id" v-if="edit.data.id!==''"v-bind:value="edit.data.id" type="hidden">
            <div class="form-group">
                <label>Kodstuga</label>
                <select name="kodstugor_id"  v-model:value="edit.data.kodstugor_id" class="form-control">
                    <option value="">Välj kodstuga...</option>
                    <option v-for="kodstuga in kodstugor" v-bind:value="kodstuga.id">{{kodstuga.namn}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Typ</label>
                <select name="typ" required v-model:value="edit.data.typ" class="form-control">
                    <option value="e-post">E-Post</option>
                    <option value="sms">SMS</option>
                </select>
            </div>
            <div class="form-group" v-if="edit.data.typ=='e-post'">
                <label>Ämne</label>
                <input 
                    name="rubrik"
                    v-model:value="edit.data.rubrik"
                    type="text"
                    class="form-control">
            </div>
            <input v-else=""
                    name="rubrik"
                    v-model:value="edit.data.rubrik"
                    type="hidden">
            <div class="form-group">
                <label>Meddelande</label>
                <textarea
                    name="text"
                    v-model:value="edit.data.text"
                    required=""
                    class="form-control"></textarea>
                    Förhandsgranskning:
                <div  class="card">
                    <div class="card-body" v-if="edit.data.typ=='e-post'" v-html="markdown_to_html.makeHtml(edit.data.text)"></div>
                    <div class="card-body" v-else=""><pre>{{edit.data.text}}</pre></div>
                </div>
            </div>
            <div class="form-group">
                <label>Datum för utskick</label>
                <input 
                    name="datum"
                    v-model:value="edit.data.datum"
                    type="date"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <button v-if="edit.data.id==''" type="submit" class="btn btn-primary">Skapa ny</button>
                <button v-else="" type="submit" class="btn btn-primary">Spara</button>
                <button v-on:click="edit=''" type="button" class="btn btn-secondary">Avbryt</button>
            </div>
        </form>
    </div>
</div>