<h1 class="text-center">Volontärer Planering</h1>
<div v-if="me.admin">
    Visa kodstuga:
    <select v-model:value="val_kodstuga" class="form-control">
        <option value="alla">Visa alla kodstugor</option>
        <option v-for="kodstuga in kodstugor" v-bind:value="kodstuga.id">{{kodstuga.namn}}</option>
    </select>
</div>
<form method="post" @submit="check_send" action="/api/volontarer_plannering" v-for="kodstuga in kodstugor" v-if="val_kodstuga=='alla' || kodstuga.id == val_kodstuga">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">{{kodstuga.namn}}</th>
                <th v-for="date in get_dates(kodstuga.id)">{{date.datum}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="volotär in volontärer" v-if="volotär.kodstugor_id == kodstuga.id">
                <td>{{volotär.namn}}</td>
                <td v-for="date in get_dates(kodstuga.id)">
                    <div v-if="date.typ=='lov'">Lov</div>
                    <div v-else-if="volontarer_redigerade[volotär.id+date.datum]">
                        <input
                            type="hidden"
                            name="id"
                            v-model:value="volontarer_redigerade[volotär.id+date.datum]['id']">
                        <input type="hidden" name="datum" v-bind:value="date.datum">
                        <input type="hidden" name="volontarer_id" v-bind:value="volotär.id">
                        <div class="input-group">
                            <select class="custom-select" name="status" v-model:value="volontarer_redigerade[volotär.id+date.datum]['status']">
                                <option value="Kanske">Kanske</option>
                                <option value="Ja">Ja</option>
                                <option value="Nej">Nej</option>
                            </select>
                            <div class="input-group-append">
                                <button type="button" v-on:click="$set(volontarer_redigerade, volotär.id+date.datum, false)" class="btn btn-secondary">&times;</button>
                            </div>
                        </div>
                        <input
                            type="text"
                            name="kommentar"
                            v-model:value="volontarer_redigerade[volotär.id+date.datum]['kommentar']"
                            class="form-control">
                    </div>
                    <div v-else="">
                        <button v-bind:class="button_color_volontär(volontarer_plannering, volotär.id, date.datum)" type="button" class="btn btn-sm btn-block" v-on:click="$set(volontarer_redigerade, volotär.id+date.datum, copy(get_data_volontar_at_date(volotär.id, date.datum)))">
                        {{ get_data_volontar_at_date(volotär.id, date.datum)["status"] }}&nbsp;
                        </button>
                        {{ get_data_volontar_at_date(volotär.id, date.datum)["kommentar"] }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary">Spara</button>
    <hr>
</form>