<h1 class="text-center">Volontärer Plannering</h1>
<table class="table" v-for="kodstuga in kodstugor">
  <thead>
    <tr>
      <th scope="col">{{kodstuga.namn}}</th>
      <th v-for="date in get_dates(kodstuga.id)">{{date.datum}}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="volotar in volontärer" v-if="volotar.kodstugor_id == kodstuga.id">
        <td>{{volotar.namn}}</td>
        <td v-for="date in get_dates(kodstuga.id)">
            <div v-if="date.typ=='lov'">Lov</div>
            <div v-else="">
                <form method="post" @submit="check_send" action="/api/volontarer_plannering">
                    <div class="input-group mb-3">
                        <input type="text" value="" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Spara</button>
                        </div>
                    </div> 
                </form>
            </div>
        </td>
    </tr>
  </tbody>
</table>