<h1 class="text-center">Volontärer</h1>
<form  v-if="edit==''" method="post" @submit="check_send" action="/api/volontarer">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Namn</th>
          <th scope="col">E-Post</th>
          <th scope="col">Telefon</th>
          <th scope="col" v-if="me.admin">Kodstuga</th>
          <th scope="col" v-if="me.admin">Utdrag</th>
          <th scope="col" v-if="me.admin">Välj</th>
          <th scope="col">Redigera</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="volontär in volontärer">
            <td>{{volontär.namn}}</td>
            <td>{{volontär.epost}}</td>
            <td>{{volontär.telefon}}</td>
            <td v-if="me.admin">{{kodstuga_name_by_id(volontär.kodstugor_id)}}</td>
            <td v-if="me.admin">{{volontär.utdrag_datum}}</td>
            <td v-if="me.admin"><input type="checkbox" name="flytta" v-bind:value="volontär.id" v-model="volontär.selected"></td>
            <td><button class="btn btn-outline-secondary"
                v-on:click="edit={'type':'volontär','data':copy(volontär)}">🖊</button>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="row" v-if="me.admin">
        <div class="col-sm">
            <button 
            class="btn btn-primary"
            v-if="edit==''"
            v-on:click="edit={'type':'volontär','data':{'id':'','namn':'','epost':'','telefon':'','kodstugor_id':''}}"
            type="button">
                Skapa ny
            </button>
        </div>
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-primary">Flytta valda volontärer till kodstugan:</button>
                </div>
                <select name="kodstugor_id" class="custom-select">
                    <option v-for="kodstuga in kodstugor" v-bind:value="kodstuga.id">{{kodstuga.namn}}</option>
                </select>
            </div>
        </div>
    </div>
</form>
<form  v-if="edit=='' && me.admin" method="post" @submit="check_send" action="/api/volontarer">
    <h1 class="text-center">Volontärer som finns på Slack men inte i BESK</h1>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Namn</th>
          <th scope="col">E-Post</th>
          <th scope="col">Telefon</th>
          <th scope="col">Välj</th>
          <th scope="col">Lägg till</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="volontär in volontärer_slack" v-if="!volontär_finns(volontär.epost)">
            <td>{{volontär.namn}}</td>
            <td>{{volontär.epost}}</td>
            <td>{{volontär.telefon}}</td>
            <td>
                <input type="checkbox" name="groupadd" v-model:value="volontär.besk_id" v-model="volontär.selected">
                <input v-if="volontär.selected" type="hidden" name="namn" v-model:value="volontär.namn">
                <input v-if="volontär.selected" type="hidden" name="epost" v-model:value="volontär.epost">
                <input v-if="volontär.selected" type="hidden" name="telefon" v-model:value="volontär.telefon">
                <input v-if="volontär.selected" type="hidden" name="utdrag_datum" value="1970-01-01">
            </td>
            <td>
                <button
                    type="button" 
                    class="btn btn-secondary"
                    v-on:click="edit={'type':'volontär','data':{'utdrag_datum':'1970-01-01','id':'','namn':volontär.namn,'epost':volontär.epost,'telefon':volontär.telefon,'kodstugor_id':''}}">
                    Lägg till i BESK
                </button>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-primary">Importera valda volontärer till kodstugan:</button>
            <input type="hidden" value="ja" name="flera">
        </div>
        <select name="kodstugor_id" class="custom-select">
            <option v-for="kodstuga in kodstugor" v-bind:value="kodstuga.id">{{kodstuga.namn}}</option>
        </select>
    </div>
</form>
<div v-if="edit.type=='volontär'" class="card">
    <div class="card-body">
        <form method="post" @submit="check_send" action="/api/volontarer">
            <input name="id" v-if="edit.data.id!==''"v-bind:value="edit.data.id" type="hidden">
            <div class="form-group">
                <label>Namn</label>
                <input
                    name="namn"
                    v-model:value="edit.data.namn"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>E-Post</label>
                <input
                    name="epost"
                    v-model:value="edit.data.epost"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input 
                    name="telefon"
                    v-model:value="edit.data.telefon"
                    type="text"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group" v-if="me.admin">
                <label>Utdrag gilltigt till</label>
                <input 
                    name="utdrag_datum"
                    v-model:value="edit.data.utdrag_datum"
                    type="date"
                    required=""
                    class="form-control">
            </div>
            <div class="form-group" v-if="me.admin">
                <label>Kodstuga</label>
                <select name="kodstugor_id" v-model:value="edit.data.kodstugor_id" class="form-control">
                    <option v-for="kodstuga in kodstugor" v-bind:value="kodstuga.id">{{kodstuga.namn}}</option>
                </select>
            </div>
            <div class="form-group">
                <button v-if="edit.data.id==''" type="submit" class="btn btn-primary">Skapa ny</button>
                <button v-else="" type="submit" class="btn btn-primary">Spara</button>
                <button v-on:click="edit=''" type="button" class="btn btn-secondary">Avbryt</button>
                <button v-on:click="radera_volontär(edit.data.epost)" type="button" class="btn btn-danger" v-if="me.admin">Radera</button>
            </div>
        </form>
    </div>
</div>