<h1 class="text-center">Volontärer Plannering</h1>
<form method="post" @submit="check_send" action="/api/volontarer_plannering" v-for="kodstuga in kodstugor">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">{{kodstuga.namn}}</th>
                <th v-for="date in get_dates(kodstuga.id)">{{date.datum}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="volotär in volontärer" v-if="volotär.kodstugor_id == kodstuga.id">
                <td>{{volotär.namn}}</td>
                <td v-for="date in get_dates(kodstuga.id)">
                    <div v-if="date.typ=='lov'">Lov</div>
                    <div v-else-if="volontarer_redigerade[volotär.id+date.datum]">
                        <input
                            type="hidden"
                            name="id"
                            v-bind:value="get_id_for_volontar_at_date(volotär.id, date.datum)">
                        <input type="hidden" name="datum" v-bind:value="date.datum">
                        <input type="hidden" name="volontarer_id" v-bind:value="volotär.id">
                        <div class="input-group">
                            <input
                                type="text"
                                name="status"
                                v-bind:value="get_status_for_volontar_at_date(volotär.id, date.datum)"
                                class="form-control">
                            <div class="input-group-append">
                                <button v-on:click="$set(volontarer_redigerade, volotär.id+date.datum, false)" class="btn btn-secondary">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div v-else="" v-on:click="$set(volontarer_redigerade, volotär.id+date.datum, true)">
                        {{ get_status_for_volontar_at_date(volotär.id, date.datum) }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary">Spara</button>
    <hr>
</form>