<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>BESK - Kodcentrum</title>
    <style>
        label {
            width: 100%
        }
    </style>
</head>

<body>
    <div class="container" id="admin">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#" v-on:click="page='BESK'">BESK</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="page='Kodstugor'">Kodstugor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="page='Ansökningar'">Ansökningar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="page='Datum'">Datum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="page='Volontärer'">Volontärer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="page='Utskick'">Utskick</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="page='Närvaro'">Närvaro</a>
              </li>
            </ul>
          </div>
        </nav>
        <div v-if="page=='BESK'">
            <h1 class="text-center">BESK</h1>
            <p>Anmälan och hantering av närvaro.</p>
        </div>
        <div v-if="page=='Datum'">
            <?datum.html?>
        </div>
        <div v-if="page=='Kodstugor'">
            <?kodstugor.html?>
        </div>
        <div v-if="page=='Ansökningar'">
            <?ansokningar.html?>
        </div>
    </div>
    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>